*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Ramaraja", serif;
}

body {
  margin: 0;
  background-color: rgb(241, 240, 240);
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}
h1:hover {
  background: -webkit-linear-gradient(120deg, #000 40%, #fff 60%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.site-header {
  background: rgb(69, 24, 1);
  background: linear-gradient(
    90deg,
    rgba(69, 24, 1, 1) 0%,
    rgba(170, 183, 24, 1) 50%,
    rgba(125, 211, 67, 1) 100%
  );
}

footer {
  background: rgb(69, 24, 1);
  background: linear-gradient(
    90deg,
    rgba(125, 211, 67, 1) 0%,
    rgba(170, 183, 24, 1) 50%,
    rgba(69, 24, 1, 1) 100%
  );
}

.site-header,
footer {
  text-align: center;
  padding: 2.7rem 1rem;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.7rem;
  background-color: rgba(125, 211, 67, 1);
  border-radius: 1.7rem;
  color: white;
}
.hire-me:hover {
  background-color: azure;
  color: #000;
}

.site-main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
  background-color: lemonchiffon;
}

/*to prevent border in 1st article*/
.site-main > article + article {
  border-top: 2px solid gray;
  margin-top: 2rem;
}

.site-main > article {
  padding: 0 0.7rem;
}

.heading-offset {
  position: relative;
  left: -0.7rem;
}

.header-exp,
.subheader-exp {
  display: inline-block;
}

.subheader-exp {
  padding-left: 0.5rem;
}

.profession::after {
  content: "👨‍💻";
}

::selection {
  background-color: #000;
  color: #fff;
}

nav > a {
  margin: 0 1rem 0 0;
}
.navigation {
  display: flex;
  flex-direction: column;
}

.header-job {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
}

a:link {
  color: rgb(69, 24, 1);
}

a:visited {
  color: rgb(69, 24, 1);
}

a:hover {
  background-color: #fff;
  color: #000;
}

a:active {
  background-color: hotpink;
}

@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
  .site-main > article + article {
    margin-top: 4rem;
    padding-top: 2rem;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .header-job {
    flex-direction: row;
    justify-content: space-between;
  }
  .subheader-exp {
    align-self: center;
  }
  .skills {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .hire-me {
    position: fixed;
  }
}

@media print {
  .navigation {
    display: none;
  }
  .hire-me {
    display: none;
  }
}
