* {
  box-sizing: border-box;
}

html {
  font-family: "Ramaraja", serif;
}
body {
  margin: 0;
  background-color: rgb(241, 240, 240);
  font-family: inherit;
}

.site-header,
footer {
  background-color: beige;
  text-align: center;
  padding: 48px 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}

/*nav {
}*/

.site-main {
  max-width: 800px;
  margin: 0 auto;
  padding: 16px;
  background-color: azure;
}

/*to prevent border in 1st article*/
.site-main > article + article {
  border-top: 2px solid gray;
  margin-top: 48px;
}

.header-exp,
.subheader-exp {
  display: inline-block;
}

.subheader-exp {
  padding-left: 10px;
}

.profession::after {
  content: "👨‍💻";
}

::selection {
  background-color: #000;
  color: #fff;
}

nav > a {
  margin: 0 20px 0 0;
}

a:link {
  color: darkorange;
}

a:visited {
  color: green;
}

a:hover {
  background-color: red;
  color: #fff;
}

a:active {
  background-color: hotpink;
}
