*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Ramaraja", serif;
}

body {
  --border-color: gray;
  --a-tag-color: rgb(69, 24, 1);
  --green-gradient-color: rgba(125, 211, 67, 1);
  --yellow-gradient-color: rgba(170, 183, 24, 1);
  --brown-gradient-color: rgba(69, 24, 1, 1);
  --black-gradient-color: #000;
  --white-gradient-color: #fff;
  --body-background-color: rgb(241, 240, 240);
  --main-site-1st-background-color: rgba(181, 238, 174, 1);
  --main-site-2nd-background-color: rgba(148, 223, 233, 1);

  margin: 0;
  background: linear-gradient(
    90deg,
    var(--main-site-1st-background-color) 0%,
    var(--main-site-2nd-background-color) 100%
  );
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bebas Neue", cursive;
}
/*
.main-heading {
  position: relative;
  background: -webkit-linear-gradient(
    180deg,
    var(--green-gradient-color) 0%,
    var(--yellow-gradient-color) 50%,
    var(--brown-gradient-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: transparent;
  z-index: 1;
}

 .main-heading::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: -webkit-linear-gradient(
    180deg,
    var(--brown-gradient-color) 5%,
    var(--yellow-gradient-color) 55%,
    var(--green-gradient-color) 95%
  );
  background-clip: text;
  -webkit-background-clip: revert;
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}

.main-heading:hover::before {
  opacity: 1;
} */

.site-header {
  background: var(--green-gradient-color);
  background: linear-gradient(
    90deg,
    var(--brown-gradient-color) 0%,
    var(--yellow-gradient-color) 50%,
    var(--green-gradient-color) 100%
  );
  background-clip: text;
  -webkit-background-clip: transparent;
}

footer {
  background: var(--brown-gradient-color);
  background: linear-gradient(
    90deg,
    var(--green-gradient-color) 0%,
    var(--yellow-gradient-color) 50%,
    var(--brown-gradient-color) 100%
  );
}

.site-header,
footer {
  text-align: center;
  padding: 2.7rem 1rem;
}

.heading-group {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
}

.profession {
  font-size: 0.25em;
}

.hire-me {
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 0.7rem;
  background-color: var(--green-gradient-color);
  border-radius: 1.7rem;
  color: var(--white-gradient-color);
  opacity: 1;
  transition: transform ease-in-out 0.7s, opacity 0.5s ease-in-out;
}

.site-header:hover .hire-me,
.site-header:focus-within .hire-me {
  transform: scale(1.5);
}

.hire-me:hover {
  background-color: var(--white-gradient-color);
  color: var(--black-gradient-color);
}

.site-main {
  max-width: 70ch;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--white-gradient-color);
}

/*to prevent border in 1st article*/
.site-main > article + article {
  border-top: 5px solid var(--border-color);
  margin-top: 2rem;
}

.site-main > article {
  padding: 0 0.7rem;
}

.heading-offset {
  position: relative;
  left: -0.7rem;
}

.header-exp,
.subheader-exp {
  display: inline-block;
}

.subheader-exp {
  padding-left: 0.5rem;
}

.profession::after {
  content: "👨‍💻";
}

::selection {
  background-color: var(--black-gradient-color);
  color: var(--white-gradient-color);
}

nav > a {
  margin: 0 1rem 0 0;
}
.navigation {
  display: flex;
  flex-direction: column;
}

.nav-link {
  transition: background-color 0.25s;
}

.nav-link:focus {
  background-color: var(--black-gradient-color);
  color: var(--white-gradient-color);
  outline-color: var(--white-gradient-color);
  outline-style: dashed;
}

.header-job {
  display: flex;
  flex-direction: column;
}

.skills {
  display: flex;
  flex-direction: column;
}

a:link {
  color: var(--a-tag-color);
}

a:visited {
  color: var(--a-tag-color);
}

a:hover {
  background-color: var(--white-gradient-color);
  color: var(--black-gradient-color);
}
/*------------------------from 786px width----------------*/
@media screen and (min-width: 786px) {
  html {
    font-size: 18px;
  }
  .site-main {
    max-width: 80ch;
  }
  .site-main > article + article {
    margin-top: 4rem;
    padding-top: 2rem;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .header-job {
    flex-direction: row;
    justify-content: space-between;
  }
  .subheader-exp {
    align-self: center;
  }
  .skills {
    flex-direction: row;
    justify-content: space-around;
  }
  .main-article {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
  }
  .main-article-content {
    padding-top: 2em;
  }
}

/*------------------------from 992px width----------------*/
@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
  .hire-me {
    position: fixed;
  }
}

@media print {
  .navigation {
    display: none;
  }
  .hire-me {
    display: none;
  }
}
